{% extends 'base.html'%}
{% import 'macros.html' as macro%}

       
        <!-- Popular movie -->
        {% block index %}
        <h3 id="tr"> Popular Movies</h3>
         <ul class="row">
            {{ macro.displayMovieList( popular ) }}
        </ul>

        <!-- Upcoming movie  -->
        <h3> Upcoming Movies </h3>
         <ul class="row">
            {{ macro.displayMovieList( upcoming ) }}
        </ul>
        <!-- Now showing movie -->
        <h3>Now Showing</h3>
         <ul class="row">
            {{ macro.displayMovieList( now_showing ) }}
        </ul>

        {% endblock%}
</body>
</html>